<!DOCTYPE html>
<html>
<head>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/handlebars-v1.2.1.js"></script>
<script src="js/ember.js"></script>
<script src="js/ember-data.js"></script>
<script src="js/app.js"></script>
</head>
<body>
  
<script type="text/x-handlebars" id="index">
<p>{{challenges}}
{{#each challenges}}
  <p class="a">{{this}}</p>
  <p class="b">{{facts}}</p>
  {{#each facts}}
	  {{#if isActive}}
	    <p class="c">{{this}} {{factName}}</p>
	    <button {{action swapActive}}>Swap Active</button>
	  {{/if}}
  {{/each}}
  </div>
{{/each}}
</script>

</body>
